@charset "UTF-8";

body{
    background-color: rgb(13, 116, 154);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: rgb(25, 200, 58);
}
h2{
    color: brown;
}
p{
    text-align: justify;
}